.error-label {
    -fx-text-fill: #b30000; /* رنگ قرمز تند */
/*    -fx-background-color: #ffe5e5;  پس‌زمینه قرمز کم‌رنگ */
/*    -fx-border-color: #ff4d4d;  حاشیه قرمز روشن */
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 4 12 4 12;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(255, 0, 0, 0.2), 4, 0.5, 0, 0);
}
.success-label {
    -fx-text-fill: #1e7e34; /* سبز تیره برای متن */
/*    -fx-background-color: #d4edda;  پس‌زمینه سبز کم‌رنگ */
/*    -fx-border-color: #28a745;  حاشیه سبز روشن */
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 8 12 8 12;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 128, 0, 0.2), 4, 0.5, 0, 0);
}
